<div class="table-responsive">
  <table class="table table-condensed table-responsive table-user-information">
    <tbody>
      <tr>
        <td>
          <strong>
            <span class="glyphicon glyphicon-cloud text-primary"></span>
            Id
          </strong>
        </td>
        <td class="text-primary">
          000A
        </td>
      </tr>

      <tr>
        <td>
          <strong>
            <span class="glyphicon glyphicon-bookmark text-primary"></span>
            Location
          </strong>
        </td>
        <td class="text-primary">
          Colombo
        </td>
      </tr>

      <tr>
        <td>
          <strong>
            <span class="glyphicon glyphicon-eye-open text-primary"></span>
            Type
          </strong>
        </td>
        <td class="text-primary">
          Digital
        </td>
      </tr>
      <tr>
        <td>
          <strong>
            <span class="glyphicon glyphicon-eye-open text-primary"></span>
            Weight
          </strong>
        </td>
        <td class="text-primary">
          54.3
        </td>
      </tr>
    </tbody>
  </table>
</div>
