<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="my-card1">
          <div class="row">
            <div class="col-md-6 text-center">
              <user-image></user-image>
            </div>
            <div class="col-md-6 text-center">
              <app-user-details></app-user-details>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <app-ppg-graph></app-ppg-graph>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <app-tem-graph></app-tem-graph>
      </div>
    </div>
  </div>
</section>
